
//  FONTS
$title-font: 'Yellowtail', cursive;
$main-font: 'Montserrat', sans-serif;

//  TYPE SCALE -- Augmented Fourth 1.414
$h1: 5.653em;
$h2: 3.998em;
$h3: 2.827em;
$h4: 1.999em;
$h5: 1.414em;
$text: 1em;
$small: 0.707em;


//  COLOR PALETTE

$bg-dark:   #2F2F30;
$bg-med:    #474443;
$bg-light:  #AAACAD;
$text-dark: #0D0E0E;
$text-light:#EEEEEE;
$brand:     #FF5C05;
$success: #69CD51;
$warning: #FF2A26;
