
.login {
  &-btn {
    transition: height 2s;
    width: 50%;
    height: 50px;
    margin: 20px auto;
    background-color: $brand;
    
  }
  &-email, &-password {
    width: 100%;
    height: 35px;
    margin: 0 auto 10px;
    background-color: $text-light;
  }
  &-btn, &-email, &-password {
    border: none;
    border-radius: 8px;
  }
}


.input-field {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  :focus {
    background-color: lighten($brand, 40%);
  }
}



.signup-call {
  margin: auto;
  color: rgba($text-light, 0.6);
  a {
    color: rgba($text-light, 0.6);
    text-decoration: none;
    &:hover {
      color: $brand;
    }
  }
}
