* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100vh;
  @include mq('med') {
    font-size: 16px;
  }
}

a {
  color: $brand;
}

body {
  font-family: $main-font;
  font-size: $text;
  color: $text-light;
  background-color: $bg-med;
}

main {
//  border: $brand solid 1px;
  background-color: $bg-dark;
  border-radius: 10px;
  width: 90%;
  margin: 5vh auto;
  height: 90vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  @include mq('med'){
    width: 70%;
    height: 70vh;
  }
  @include mq('lg'){
    width: 50%;
  }
  @include mq('xlg'){
    width: 30%;
    height: 70vh;
  }
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  color: $bg-med;
  font-size: $text;
  padding: 0 10px;
  outline: none;
}

button {
  outline: none;
  
}
