* {

}

html {
  font-size: 16px;
}

body {
  font-family: $main-font;
  font-size: $text;
  color: $text-light;
  background-color: $bg-dark;
}

main {
  border: $brand solid 1px;
  border-radius: 10px;
  width: 30%;
  margin: 50px auto;
  height: 500px;
}

form {
  display: flex;
  flex-direction: column;
}
