* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $main-font;
  font-size: $text;
  color: $text-light;
  background-color: $bg-med;
}

main {
//  border: $brand solid 1px;
  background-color: $bg-dark;
  border-radius: 10px;
  width: 30%;
  margin: 50px auto;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  color: $bg-med;
  font-size: $text;
  padding: 0 10px;
  outline: none;
}

button {
  outline: none;
}
